// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin:30px;
  font-family: 'Soleil', 'Helvetica Neue', sans-serif;
  font-size:16px;
  color:#212121;
}

h1 {
  font-size:46px;
  font-weight:600;
  line-height:1.35;
  margin:0 0 45px -2px; padding:0;
}

p {
  margin:0;
  margin-bottom:8px;
}

div {
  max-width:365px;
}

.location {
  display:block;
  float:left;
  margin-right:40px;
  margin-bottom:40px;
  min-width:365px;

  h1 {
    font-size:22px;
    font-weight:300;
    line-height:1.35;
    margin:0; padding:0;
  }
}

.day {
  display:block;
  height:1px;
  //margin-bottom:1px;
  background-color:#eaeaea;
  width:100%;
}

.today {
  display:block;
  height:1px;
  background-color:red;
}

.daylight {
  display:block;
  height:1px;
  background-color:#212121;
}
